.header {
font-size: 18px;
font-weight: 700;

}

.container {
    background-color: rgb(65, 150, 164);
    color: white;
    padding: 16px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: 964px;
    font-size: 16px;
    text-size-adjust: 100%;

}