.header {
    font-size: 18px;
    font-weight: 700;
    
    }
    
    .container {
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: 15px;
        margin-top: 15px;
    }



.date {
    color: black;
    display: flex;
    line-height: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 1px;
    padding-right: 16px;
}

em {
   font-size: 15px;
   line-height: 18px; 
   font-style: normal;
   text-decoration-thickness: auto;
   text-size-adjust: 100%;
   text-align: left;
   font-weight: 400;
}